name: Build with JDK

on:
  push:
    paths:
      - '.github/workflows/ci-quarkus.yml'
      - 'quarkus/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 16
          distribution: 'zulu'
      - uses: actions/cache@v4.2.4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        working-directory: quarkus/quarkus-hello
        run: |
          mvn package -Pnative -Dquarkus.native.container-build=true
          docker build -f src/main/docker/Dockerfile.native -t pivovarit/quarkus-hello .
          docker run -i --rm -d -p 8080:8080 pivovarit/quarkus-hello

      - name: Verify
        run: |
          attempts=0
          max_attempts=10
          until curl --output /dev/null --silent --head --fail "localhost:8080/hello"; do
            if [ ${attempts} -eq ${max_attempts} ];then
                echo "Application not responding"
                exit 1
            fi
            printf '.'
            attempts=$((attempts+1))
            sleep 1
          done
          echo
